:root{
    --width:200px;
    --height:200px;
    --padding:30px;
    --border-width:20px;
}

* {
    box-sizing: border-box;
}

.title,body{
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #0D0C2D;
    color: #fff;
    font-family: Poppins,sans-serif;
    text-align: center;
    display: grid;
    grid-template-rows: max-content 1fr;
}

select, option{
    color:#fff;
    background-color: #0D0C2D;
    font-family: inherit;
}

.main{
    display: grid;
    place-content: center;
}

.form{
    position: absolute;
}

.code{
    display: grid;
    grid-template-columns: max-content auto;
    gap: .5em 1em;
}
.input{
    border-width:0;
    outline-width:0;
    border-radius:0;
    padding: .5em;
    color: inherit;
    background-color: #0D0C2D;
    font-family: monospace;
    border-bottom: 1px solid;
}

.box-sizing-check{
    display: none;
}

.box {
    width: var(--width);
    height:var(--height);
    padding:var(--padding);
    /* border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ; */
    border: var(--border-width) solid transparent;
    outline-offset: var(--outline-offset);
    background-image:
    linear-gradient(to bottom,#0f0 0, #0f0 100%),
    linear-gradient(to bottom, #00f 0, #00f 100%),
    linear-gradient(to bottom, #f00 0, #f00 100%);
    background-clip: content-box, padding-box, border-box;
}

.box:not(.content-box),.content-box::before{
    outline: 2px dashed;
}

.content-box{
    box-sizing: content-box;
}
.content-box::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
}